#js/commits.txt
#inicio.html
#index.php


# Creado por https://www.gitignore.io/api/codeigniter

### Archivos ###
index.php
#commits.txt

### Carpetas ###
archivos/elementos/
##application/config/

# Fin de https://www.gitignore.io/api/codeigniter